@model AwardEntity.User
@{
    ViewData["Title"] = "Kullanıcı Kaydı Ekleme";
} 

<h2>Yeni Kullanıcı Oluştur</h2>

<form asp-controller="User" asp-action="Add" method="post"> 
    @Html.AntiForgeryToken() 

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="@Url.Action("List","User")" class="btn btn-secondary" role="button" aria-disabled="true">Geri Dön</a>
</form>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 
@section styles {
    <link rel="stylesheet" href="~/css/form-style.css" asp-append-version="true" />
}